<p-toolbar styleClass="p-mb-4">
  <ng-template pTemplate="left">
    <app-search [actions]="actions"></app-search>
  </ng-template>
  <ng-template pTemplate="right">
    <app-button-new-<%= dasherize(clazz) %> class="p-mr-2"></app-button-new-<%= dasherize(clazz) %>>
    <app-button-delete-<%= dasherize(clazz) %> class="p-mr-2"></app-button-delete-<%= dasherize(clazz) %>>
    <app-button-edit-many-test-<%= dasherize(clazz) %>></app-button-edit-many-test-<%= dasherize(clazz) %>>
  </ng-template>
</p-toolbar>
<app-<%= dasherize(clazz) %>-list></app-<%= dasherize(clazz) %>-list>
