<div class="ui-g">
  <div class="ui-g-12"><app-search [actions]="actions"></app-search></div>
</div>
<div class="ui-g">
  <div class="ui-g-12"><app-<%= dasherize(clazz) %>-list></app-<%= dasherize(clazz) %>-list></div>
</div>
