<form [formGroup]="form" class="p-1 bg-faded">
  <div class="ui-g">
    <div class="ui-g-12">
      <label for="name"><strong>Name</strong></label><br>
      <input id="name" name="name" type="text" class="form-control" pInputText [formControl]="name"/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <label for="value">Value</label><br>
      <input id="value" name="value" type="text" class="form-control" pInputText [formControl]="value"/>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <label for="description">Description</label><br>
      <input id="description" name="description" type="text" class="form-Control" pInputText [formControl]="description"/>
    </div>
  </div>
  <div>
    <button pButton class="ui-button-success mr-1" label="save" (click)="submit(form.getRawValue())"></button>
    <button pButton class="ui-button-success mr-1" label="cancel" (click)="cancel()"></button>
  </div>
</form>
